header {
    height: auto;
    -moz-background-size: cover;
    background: url("../../assets/images/header-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 100px;
    .lng-and-cont-btn {
        display: flex;
        margin-top: -15px;
        align-items: center;
        .lng-drop-down {
            margin-right: 20px;
            color: #ffffff;
            margin-right: 50px;
            width: 61px;
            cursor: pointer;
            .selected-flag {
                background: url("../../assets/images/flag.png");
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                border-radius: 50px;
                margin-right: 4px;
            }
            .drop-icon {
                font-size: 24px;
                position: absolute;
                margin-left: 6px;
                margin-top: -2px;
            }
        }
    }
}
.primary-btn {
    width: 150px;
    height: 43px;
}
