header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.selected-flag {
    background: url("../../assets/images/flag.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin-right: 4px;
}
.drop-icon {
    font-size: 24px;
    position: absolute;
    margin-left: 6px;
}

.contact-btn-nav {
    margin-left: 30px;
    margin-top: 1%;
}

.navbar-nav .nav-link {
    color: #ffffff;
    font-size: 14px;
    margin-right: 18px;
    font-weight: 400;
    padding: 18px 0px;
    font-family: Poppins;
}

.disable-hover {
    cursor: pointer;
    width: 79px;
    // pointer-events: none;
}

.disable-hover::after {
    content: none;
    text-decoration: none;
}

.lng-drop-down-for-mobile {
    margin-top: 3%;
    display: none;
    li {
        color: #ffffff;
    }
    a {
        color: #ffffff;
    }
}

@media (max-width: 988px) {
    .contact-btn-nav {
        width: 100%;
        height: 33px;
    }

    .bg-faded {
        background: black;
    }

    .nav-item .primary-btn {
        width: 100%;
        margin-left: -28px;
    }

    .lng-drop-down-for-mobile {
        position: fixed;
        right: 19%;
        display: flex;
    }

    .lng-drop-down-disable {
        display: none;
    }

    .navbar-light .navbar-nav .nav-link:hover::after {
        width: 0% !important;
    }

    .navbar-light .navbar-nav .nav-link.active::after {
        width: 0% !important;
    }

    .navbar-light .navbar-toggler {
        margin: 0px;
    }
}
