<!-- Main Footer -->
<footer class="main-footer-color">
    <div class="container py-5">
        <div class="row py-4">

            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="mb-4">Useful Links
                </h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a routerLink="home" class="a-text clickable">Home</a></li>
                    <li class="mb-2"><a routerLink="services" class="a-text clickable">Services</a></li>
                    <li class="mb-2"><a routerLink="consulting" class="a-text clickable">Consulting</a></li>
                    <li class="mb-2"><a routerLink="security" class="a-text clickable">Security</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h6 class=" mb-4">Our Services
                </h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a routerLink="cyber-security" class="a-text clickable">Cyber Security</a></li>
                    <li class="mb-2"><a routerLink="data-protection" class="a-text clickable">Data Protection</a></li>
                    <li class="mb-2"><a routerLink="solutions" class="a-text clickable">Solutions</a></li>
                    <li class="mb-2"><a routerLink="development" class="a-text clickable">Development</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h6 class=" mb-4">Contact</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2 "><a class="a-text stroke-none">444 Castro Street Suite 400 Mountain View, CA 94041
                        </a></li>
                    <li class="mb-2"><a class="a-text stroke-none">+1-855-868-3733
                        </a></li>
                    <li class="mb-2"><a class="a-text stroke-none">sales@sitename.com
                        </a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-lg-0">
                <h6 class=" mb-4">SIGN UP FOR OUR NEWSLETTER
                </h6>
                <div class="p-1 rounded ">
                    <div class="input-group">
                        <input type="email" placeholder="Business Email" class="input-style input-icon">

                    </div>
                </div>
                <p class="sign-up-text mb-4">
                    By clicking Subscribe, I agree to the use of my personal data in accordance
                    with SentinelOne Privacy Policy. SentinelOne will not sell, trade, lease, or rent your personal data
                    to third parties.
                </p>
            </div>
        </div>
    </div>

    <!-- light-footer  -->
    <div class="light-footer-style py-4">
        <div class="container text-center">


            <div class="row">
                <div class="col-lg-2">
                    <p class="term-container mb-0 py-2"> Terms of Service</p>

                </div>
                <div class="col-lg-8">
                    <p class="rights-container mb-0 py-2">©{{currentYear}} Zenuit Consulting Services, All Rights
                        Reserved. </p>
                </div>
                <div class="col-lg-2">
                    <p class="privacy-container mb-0 py-2"> Privacy Policy</p>

                </div>
            </div>
        </div>

    </div>


</footer>