header {
    background-image: url("../../../assets/images/header-bg.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: contain;
    width: 100%;
    position: fixed;
    z-index: 1030;
    margin-top: -30px;
    padding-top: 30px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        -webkit-transition: all 0.3s ease-out 0.3s;
        -moz-transition: all 0.3s ease-out 0.3s;
        -ms-transition: all 0.3s ease-out 0.3s;
        -o-transition: all 0.3s ease-out 0.3s;
        transition: all 0.3s ease-out 0.3s;
        .navbar-logo {
            img {
                width: 91px;
                height: 91px;
                -webkit-transition: all 0.3s ease-out 0.3s;
                -moz-transition: all 0.3s ease-out 0.3s;
                -ms-transition: all 0.3s ease-out 0.3s;
                -o-transition: all 0.3s ease-out 0.3s;
                transition: all 0.3s ease-out 0.3s;
            }
        }

        .burger-menue {
            display: none;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 5%;
            cursor: pointer;
            color: #ffffff;
        }

        .navbar-menu-container {
            a {
                position: relative;
                color: #ffffff;
                font-size: 14px;
                margin-right: 50px;
                font-weight: 400;
                padding: 18px 0px;
                font-family: Poppins;
                text-decoration: none !important;
                cursor: pointer;
                &.contact-btn {
                    margin-left: 50px;
                    width: 120px;
                    padding: 7px 20px 7px 20px;
                    width: 150px;
                    height: 43px;
                    border: 2px solid #00a6d6;
                    box-sizing: border-box;
                    border-radius: 5px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 21px;
                    text-align: center;
                    margin-right: 5px;
                }
                &.contact-btn:hover {
                    background-color: #00a6d6;
                }
            }
        }
        .btn {
            width: 10%;
        }
    }

    .nav-menu-4-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        a {
            position: relative;
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
            padding-top: 10px;
            padding-bottom: 12px;
            font-family: Poppins;
            text-decoration: none !important;
            cursor: pointer;
            margin-bottom: 7px;
            &.primary-btn {
                width: 80% !important;
            }
        }
    }
}

.nav-dropdown {
    position: relative;
    display: inline-block;
    .nav-dropdown-content {
        display: none;
        position: absolute;
        width: auto;
        box-shadow: 0px 8px 16px 0px rgba(3, 3, 3, 0.2);
        box-sizing: border-box;
        border-radius: 5px;
        margin: 8px 0px 0px -7px;
        background-color: #070813;
        width: 124px;
        z-index: 1000000;
        a {
            padding: 2px 1px 8px 8px !important;
        }
        a::after {
            content: "";
            width: 0%;
            height: 2px;
            background: #00a6d6;
            display: block;
            margin: auto;
        }
        a:hover::after {
            width: 86%;
            transition: 0.5s;
        }
    }
}

.nav-dropdown:hover .nav-dropdown-content {
    transition: all 1s ease;
    display: block;
}

.mobile-view {
    width: 100%;
}

@media (max-width: 993px) {
    header {
        .container {
            .navbar-menu-container {
                a {
                    margin-right: 20px;
                }
            }
        }
    }
}

@media (max-width: 785px) {
    header {
        .container {
            .navbar-menu-container {
                display: none;
            }
            .burger-menue {
                display: flex;
            }
        }
    }
}

.header-onScroll {
    background-color: black;
    .container {
        height: 70px;
        -webkit-transition: all 0.3s ease-out 0.3s;
        -moz-transition: all 0.3s ease-out 0.3s;
        -ms-transition: all 0.3s ease-out 0.3s;
        -o-transition: all 0.3s ease-out 0.3s;
        transition: all 0.3s ease-out 0.3s;
        .navbar-logo {
            img {
                width: 70px !important;
                height: 70px !important;
                -webkit-transition: all 0.3s ease-out 0.3s;
                -moz-transition: all 0.3s ease-out 0.3s;
                -ms-transition: all 0.3s ease-out 0.3s;
                -o-transition: all 0.3s ease-out 0.3s;
                transition: all 0.3s ease-out 0.3s;
            }
        }
    }
    .nav-breadcrumb {
        margin-top: -10px;
        margin-bottom: 8px;
    }
}

.header-img-none {
    background-image: none !important;
}
