.cyber-security-section-1 {
    background-image: url("../../../assets/images/cyber-security/cyber-bg-1.png");
    height: 1483px;
    padding-top: 95px;
}

.partners-content {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    .logo-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 5px 5px 3px 5px;
        flex-basis: 150px;
        flex-grow: 1;
        img {
            max-width: 190px;
            max-height: 70px;
        }
        .paragraph-text {
            margin-top: 17px;
        }
    }
}

.partners-heading {
    display: flex;
    flex-wrap: wrap;
    .heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 5px;
        flex-basis: 150px;
        flex-grow: 1;
    }
}

@media (max-width: 771px) {
    .cyber-security-section-1 {
        padding-top: 144px;
    }
}
