<section>
    <div class="common-section resources-section-1 ">
        <div class="container animated fadeInDown">
            <div class="mb-60"></div>
            <div class="row">
                <div class="col-sm-8">
                    <h2 class="heading-text">
                        Resources
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="common-section resources-section-2">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
</section>