<section>
    <div class="common-section resources-section-1 ">
        <div class="container animated fadeInDown">
            <div class="mb-60"></div>
            <div class="row">
                <div class="col-sm-8">
                    <h2 class="heading-text">
                        Resources
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="resources-section-2">

        <div *ngIf="showLodaer" class="spinner-div">
            <div class="loader">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <div class="container">
            <div class="btn-tabs-container">
                <a class="primary-btn" *ngFor="let type of resourcesType"
                    [ngClass]="{'btn-active': selectedType.id==type.id}" (click)="selectType(type)">
                    {{type?.description}}
                </a>
            </div>

            <div class="resources-post-container">

                <div class="post-box" *ngFor="let resource of resourcesList">
                    <div class="box-header">

                        <img *ngIf="!commonSerice.isObjectEmpty(resource?.resourceImage)" class="res-img"
                            src="data:{{resource?.resourceImage?.contentType|| 'image/jpeg;' }};base64,{{resource?.resourceImage?.fileContents}}"
                            alt="resource?.resourceImage?.fileDownloadName">

                        <img *ngIf="commonSerice.isObjectEmpty(resource?.resourceImage)" class="res-img"
                            src="{{tempImage}}" alt="This is temp image">

                        <span class="res-heading">{{ resource?.title}} </span>

                    </div>
                    <div class="box-body">
                        <p>
                            {{ resource?.description}}
                        </p>
                    </div>
                    <div class="box-footer">
                        <a class="primary-btn" (click)="downloadFile(resource?.fileDownloadLink)">
                            Download <i class="fa fa-download icons"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>