.solutions-section-1 {
    background-image: url("../../../assets/images/solutions/sol-bg-1.png");
    height: 638px;
    padding-top: 95px;
}

.solutions-section-2 {
    background-image: url("../../../assets/images/solutions/sol-bg-2.png");
    height: 790px;
}

.solutions-section-3 {
    background-image: url("../../../assets/images/solutions/sol-bg-3.png");
    height: 726px;
}

.primary-btn-fill {
    width: auto;
}

@media (max-width: 771px) {
    .solutions-section-2 .primary-btn-fill {
        font-size: 10px;
    }
    .solutions-section-3 .primary-btn-fill {
        font-size: 10px;
    }
    .solutions-section-1 {
        padding-top: 144px;
    }
}

@media (min-width: 1460px) {
    .solutions-section-1 {
        height: 775px;
    }
    .solutions-section-2 {
        height: 1063px;
    }
    .solutions-section-3 {
        height: 959px;
    }
}
