<section class="">
    <!-- <div class="common-section consulting-section-1 ">
        <div class="container animated fadeInDown">
            <div class="row">
                <div class="col-sm-8">
                    <h2 class="heading-text">
                        Consulting Services
                    </h2>
                </div>
                <div class="col-sm-8">
                    <p class="paragraph-text">
                        Whether you need a risk assessment and visibility into your network, implement the watchful eye
                        security software, keep your data secure, compliance remediation, or all of the above, our
                        consulting services are the expert, ethical approach to keep your data and information secure.

                    </p>
                    <div class="li-items">
                        <h2 class="sub-heading-text"> Zenuit’s Approach to Cybersecurity Consulting </h2>
                        <ul class="">
                            <li>
                                <i class="test-circle"> </i>
                                <p class="paragraph-text">
                                    <b>Extensive Practical Experience: </b>
                                    We know the IT world can
                                    get complicated,
                                    which,
                                    without
                                    a thorough understanding, makes your role of keeping it secure hard to achieve.
                                    We
                                    simplify the process for you, performing the complex work in the back-end, so
                                    the
                                    front-end is like interacting with a well-designed platform.
                                </p>

                            </li>
                            <li>
                                <i class="test-circle"> </i>
                                <p class="paragraph-text">
                                    <b>Compliance Centric Services:</b> Remaining
                                    up-to-date in regulatory updates is on
                                    our
                                    daily
                                    to-do list. With the financial and reputational risks that non-compliance
                                    presents,
                                    compliance-centric solutions are inherent in our work.
                                </p>
                            </li>
                            <li>
                                <i class="test-circle"> </i>
                                <p class="paragraph-text">
                                    <b>Dynamic Cost Models: </b> Take advantage of our
                                    expertise to protect your
                                    business while
                                    only
                                    paying for what you use, saving you costs in using on-premise
                                    alternatives.
                                </p>
                            </li>
                            <li>
                                <i class="test-circle"> </i>
                                <p class="paragraph-text">
                                    <b>Cost-Conscious Solutions: </b> As well as only
                                    paying for our consulting services
                                    as you
                                    use
                                    them, our extensive experience can extract the optimal methods of protection
                                    quickly, so
                                    you save more time and money from reducing inefficiencies.
                                </p>
                            </li>
                            <li>
                                <i class="test-circle"> </i>
                                <p class="paragraph-text">
                                    <b>Outcome Centric by Design:</b> Our approach will
                                    always be to drive positive
                                    outcomes,
                                    and
                                    we go to great lengths to investigate, identify, and solve your problems.
                                </p>
                            </li>
                            <li>
                                <i class="test-circle"> </i>
                                <p class="paragraph-text">
                                    <b>Accountability:</b> The role of protecting your
                                    systems from data threats is a
                                    responsibility we take with the utmost care, which means we always do what we
                                    should
                                    and
                                    what we say we will.
                                </p>
                            </li>
                            <li>
                                <i class="test-circle"> </i>
                                <p class="paragraph-text">
                                    <b>Driven by Security:</b> Our services come in
                                    different formalities and parts of
                                    the
                                    cybersecurity process, but really, security is in our nature, and every decision
                                    that we
                                    make always has it front of mind.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <p class="paragraph-text">
                        Book a consultation to get started on the protection of your most important assets.
                    </p>

                    <a class="primary-btn-fill" routerLink="/services">
                        <span class="text">
                            View Services
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div> -->

    <div class="common-section consulting-section-2 ">
        <div class="container animated fadeInDown">
            <div class="row">
                <div class="col-sm-8">
                    <h2 class="heading-text">
                        Consulting Services
                    </h2>
                </div>
                <div class="col-sm-7">
                    <p class="paragraph-text">
                        Your hard work and excellent services can only power your growth so far. Capitalizing on your
                        proficiency for maximum profits comes down to applying modernized business principles that allow
                        you to become a highly profitable managed services company. Our business transformation
                        leverages our proven framework and methodology created by former IT Services executives.
                    </p>
                    <p class="paragraph-text">
                        What business transformation looks like for you will depend on many factors. Your business might
                        need to grow cost-effective capabilities where linear capacity increases won’t have the same
                        impact. Or you might need to diversify your vendors to protect the resources when shortages and
                        emergencies occur.
                    </p>
                    <p class="paragraph-text">
                        When you’re embedded in your work and focusing on your day-to-day functions, it’s complicated to
                        perceive where business transformation can benefit you, and creating an achievable plan brings
                        further complexities.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="common-section consulting-section-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <h2 class="heading-text">
                        Our IT Services Executives
                    </h2>
                    <p class="paragraph-text">
                        Our team of IT Services executives are specialized in the services you offer and, through this
                        informed and external perspective, have a powerful view into your business transformation
                        possibilities. This team has successfully transformed many mid-sized organizations that had
                        varying needs and offered different services.

                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="common-section consulting-section-4">
        <div class="container">
            <div class="row">

                <div class="col-sm-7">
                    <h2 class="heading-text">
                        Transformation Analysis
                    </h2>
                    <p class="paragraph-text">
                        The first stage of any of our services is a comprehensive analysis, to make sure anything we
                        recommend or implement is backed by informed information about your unique business. This will
                        involve a deep dive into your business operations, your current and future goals, and the
                        current processes and approach to meeting these goals.
                         
                    </p>
                    <p class="paragraph-text">
                        Using this information, our analysts construct a targeted roadmap with actionable steps aligned
                        to meeting your business objectives. These actionable steps make up the transformation journey
                        towards greater capabilities and increased profit.


                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="common-section consulting-section-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <h2 class="heading-text">
                        The Consulting Services to Implement Successful Transformation
                    </h2>
                    <p class="paragraph-text">
                        A targeted roadmap is your treasure map for successful business transformation through applying
                        a proven framework, but we don’t leave you alone to wade through the steps. Each of our
                        consulting services was designed to manage part of the journey that will lead you to a
                        successful transformation.
                    </p>
                    <p class="paragraph-text">
                        Our team will already fully understand your business and the action needed when you move from
                        strategy to implementation to help you achieve the goals.
                    </p>
                    <p class="paragraph-text">
                        Consulting services at this stage might include software development to create a personalized
                        platform that enhances operations and security, effective cloud migration to capitalize on its
                        powerful infrastructure, or materializing offshore services to rapidly grow your capabilities.
                    </p>

                    <a class="primary-btn-fill" routerLink="/development">
                        View Development Services
                    </a>
                    <p></p>
                    <p class="paragraph-text">
                        ZCS provides these services with flexible cost models because we want to give you every
                        opportunity to follow the road map to success and fulfill your profit potential. This means you
                        can defer upfront costs significantly, and reap the financial benefits of the transformation
                        without disrupting your essential expenses.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="common-section consulting-section-6">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="heading-text">
                        Leverage the Power of Offshore IT Services
                    </h2>
                    <p class="paragraph-text">
                        The only geographical limits for your team are the ones you give yourself. Business
                        transformation can leverage the power of offshore services to expand your team and capabilities
                        at a reduced rate through relative advantage. With a rapidly increased capacity, our IT
                        outsourcing services help you deploy new services offerings, diversify your operations, mitigate
                        risks, reduce your ongoing costs, and scale to meet every increase in demand.
                    </p>
                    <a class="primary-btn-fill" routerLink="/development">
                        View Development Services
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>