<section class="">
    <div class="common-section consulting-section-1 ">
        <div class="container animated fadeInDown">
            <div class="row">
                <div class="col-sm-8">
                    <h2 class="heading-text">
                        Consulting Services
                    </h2>
                </div>
                <div class="col-sm-8">
                    <p class="paragraph-text">
                        Whether you need a risk assessment and visibility into your network, implement the watchful eye
                        security software, keep your data secure, compliance remediation, or all of the above, our
                        consulting services are the expert, ethical approach to keep your data and information secure.

                    </p>
                    <div class="li-items">
                        <h2 class="sub-heading-text"> Zenuit’s Approach to Cybersecurity Consulting </h2>
                        <ul class="">
                            <li>
                                <i class="test-circle"> </i>
                                <p class="paragraph-text">
                                    <b>Extensive Practical Experience: </b>
                                    We know the IT world can
                                    get complicated,
                                    which,
                                    without
                                    a thorough understanding, makes your role of keeping it secure hard to achieve.
                                    We
                                    simplify the process for you, performing the complex work in the back-end, so
                                    the
                                    front-end is like interacting with a well-designed platform.
                                </p>

                            </li>
                            <li>
                                <i class="test-circle"> </i>
                                <p class="paragraph-text">
                                    <b>Compliance Centric Services:</b> Remaining
                                    up-to-date in regulatory updates is on
                                    our
                                    daily
                                    to-do list. With the financial and reputational risks that non-compliance
                                    presents,
                                    compliance-centric solutions are inherent in our work.
                                </p>
                            </li>
                            <li>
                                <i class="test-circle"> </i>
                                <p class="paragraph-text">
                                    <b>Dynamic Cost Models: </b> Take advantage of our
                                    expertise to protect your
                                    business while
                                    only
                                    paying for what you use, saving you costs in using on-premise
                                    alternatives.
                                </p>
                            </li>
                            <li>
                                <i class="test-circle"> </i>
                                <p class="paragraph-text">
                                    <b>Cost-Conscious Solutions: </b> As well as only
                                    paying for our consulting services
                                    as you
                                    use
                                    them, our extensive experience can extract the optimal methods of protection
                                    quickly, so
                                    you save more time and money from reducing inefficiencies.
                                </p>
                            </li>
                            <li>
                                <i class="test-circle"> </i>
                                <p class="paragraph-text">
                                    <b>Outcome Centric by Design:</b> Our approach will
                                    always be to drive positive
                                    outcomes,
                                    and
                                    we go to great lengths to investigate, identify, and solve your problems.
                                </p>
                            </li>
                            <li>
                                <i class="test-circle"> </i>
                                <p class="paragraph-text">
                                    <b>Accountability:</b> The role of protecting your
                                    systems from data threats is a
                                    responsibility we take with the utmost care, which means we always do what we
                                    should
                                    and
                                    what we say we will.
                                </p>
                            </li>
                            <li>
                                <i class="test-circle"> </i>
                                <p class="paragraph-text">
                                    <b>Driven by Security:</b> Our services come in
                                    different formalities and parts of
                                    the
                                    cybersecurity process, but really, security is in our nature, and every decision
                                    that we
                                    make always has it front of mind.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <p class="paragraph-text">
                        Book a consultation to get started on the protection of your most important assets.
                    </p>
                    <a class="nav-link" routerLink="/services">
                        <span class="primary-btn-fill">
                            <span class="text">
                                View Services
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>