.consulting-section-1 {
    background-image: url("../../assets/images/consulting/bg-1.png");
    height: 1234px;
    .primary-btn-fill {
        width: 271px;
        height: 51px;
    }
}

.li-items {
    margin-left: 5%;
    // position: relative;
    ul {
        margin-left: 3%;
        li {
            position: relative;
        }
    }
    .test-circle {
        position: absolute;
        width: 7px;
        height: 7px;
        background: #00a6d6;
        border-radius: 50px;
        left: -20px;
        top: 8px;
    }

    b {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 150%;
        color: #ffffff;
    }
}

@media (min-width: 1460px) {
    .consulting-section-1 {
        height: 1256px;
    }

    .consulting-section-2 {
        height: 680px;
    }
}

@media (max-width: 771px) {
    .consulting-section-1 .primary-btn-fill {
        width: auto;
        height: 43px;
        margin-bottom: 25px;
    }
    .li-items .b {
        font-size: 12px;
        line-height: 150%;
    }
}
