.page-title-section {
    .head-text {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #ffffff;
        // background: #010101;
        // background-image: url("../../assets/images/header-bg.png");
        // width: 250px;
        // border-radius: 10px;
        // padding: -1px;
        // padding-left: 4px;
    }
    .page-name {
        // background-image: url("../../assets/images/header-bg.png");
        // background: #010101;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #ffffff;
        opacity: 0.6;
    }
}
