.main-footer-color {
    background: #01001d;
    h6 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
    }
    .a-text {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #ffffff;
        opacity: 0.6;
        text-decoration: none;
    }

    .a-text:hover {
        font-size: 16px;
        -webkit-text-stroke: 1px #ffffff;
        opacity: 1;
    }
    .input-style {
        width: 305px;
        height: 43px;
        background: #ffffff;
        border-radius: 5px;
        text-align: left;
        padding-right: 35px;
        padding-left: 12px;
    }
    .input-icon {
        background-image: url("../../../assets/images/input-icon.png");
        background-size: 19px;
        background-repeat: no-repeat;
        background-position: right;
        background-position-x: 95%;
    }
    .sign-up-text {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 130%;
        color: #797979;
        width: 305px;
        padding-left: 6px;
        margin-top: 5px;
    }
}
.light-footer-style {
    background: #11000c;
    position: relative;
    .term-container {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
        text-align: center;
        color: #ffffff;
    }
    .rights-container {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
        text-align: center;
        color: #ffffff;
        opacity: 0.6;
    }
    .privacy-container {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
        color: #ffffff;
    }
}

.stroke-none {
    font-size: 14px;
}
.stroke-none:hover {
    opacity: 0.6 !important;
    font-size: 14px !important;
    -webkit-text-stroke: 0px #ffffff !important;
}
