.data-protection-section-1 {
    background-image: url("../../../assets/images/data-protection/data-pro-bg-1.png");
    height: 1101px;
    padding-top: 95px;
}

.data-protection-section-2 {
    background-image: url("../../../assets/images/data-protection/data-pro-bg-2.png");
    height: 1373px;
}

@media (max-width: 770px) {
    .data-protection-section-1 {
        padding-top: 144px;
    }
}

@media (min-width: 1460px) {
    .data-protection-section-1 {
        height: 1200px;
    }
    .data-protection-section-2 {
        height: 1503px;
    }
}
