.development-section-1 {
    background-image: url("../../../assets/images/development/dev-bg-1.png");
    height: 600px;
    padding-top: 95px;
}

.development-section-2 {
    background-image: url("../../../assets/images/development/dev-bg-2.png");
    height: 1400px;
}

@media (max-width: 771px) {
    .development-section-1 {
        padding-top: 144px;
    }
}

@media (min-width: 1460px) {
    .development-section-1 {
        height: 730px;
    }
}
