<section>
    <div class="common-section blog-section-1 ">
        <div class="container animated fadeInDown">
            <div class="mb-60"></div>
            <div class="row">
                <div class="col-sm-8">
                    <h2 class="heading-text">
                        Zenuit Blog
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="blog-section-2">
        <div class="container">
            <div class="tag-list">
                <div class="tag-text bold-text">
                    All
                </div>
                <div class="tag-text">
                    IT Services/VAR Business
                </div>
                <div class="tag-text">
                    Cyber Security
                </div>
                <div class="tag-text">
                    Data Protection
                </div>
                <div class="tag-text">
                    Emerging Technoligies
                </div>
            </div>
        </div>
    </div>

    <div class="blog-section-3">
        <div class="container">
            <div class="blog-post-container">
                <div class="post-box" *ngFor="let blog of blogs">
                    <div class="box-header" [ngStyle]="{'background-image': 'url(' + blog?.blogImgUrl + ')'}">
                        <div class="date-wrapper">
                            <div class="date-container">
                                <img src="../../assets/images/blog/date-icon.png" alt="">
                                <span class="date-text">
                                    {{blog?.blogDate}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="title-heading">

                            {{ blog?.blogTitle}}
                        </div>
                        <p>
                            {{ blog?.blogDescription}}
                        </p>
                    </div>
                    <div class="box-footer">
                        <div class="autor-name">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            {{blog?.blogAutorName}}
                        </div>
                        <p>
                            {{blog?.blogAutorDesignation}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>