<section>
    <div class="common-section blog-section-1 ">
        <div class="container animated fadeInDown">
            <div class="mb-60"></div>
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="heading-text">
                        Zenuit Blog
                    </h2>
                </div>
                <div class="col-sm-3">
                    <a class="primary-btn white-text">
                        <i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;
                        Follow un on Twitter
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="primary-btn white-text">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>&nbsp;
                        Follow us on LinkedIn
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="blog-section-2">
        <div class="container">
            <div class="tag-list">
                <div class="tag-text " *ngFor="let type of blogType" [ngClass]="{'bold-text': selectedType.id==type.id}"
                    (click)="selectType(type)">
                    {{type?.description}}
                </div>
            </div>
        </div>
    </div>

    <div class="blog-section-3">
        <div *ngIf="showLodaer" class="spinner-div">
            <div class="loader">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="container">
            <div class="btn-tabs-container">
                <a class="primary-btn " *ngFor="let type of blogType"
                    [ngClass]="{'btn-active': selectedType.id==type.id}" (click)="selectType(type)">
                    {{type?.description}}
                </a>
            </div>
            <div class="blog-post-container">
                <div class="post-box" *ngFor="let blog of blogList">

                    <div class="box-header"
                        [ngStyle]="{'background-image': 'url(' + 'data:' + blog?.blogImage?.contentType + ';base64,' + blog.blogImage?.fileContents + ')'}">
                        <div class="date-wrapper">
                            <div class="date-container">
                                <img src="../../assets/images/blog/date-icon.png" alt="">
                                <span class="date-text">
                                    {{blog?.created_at |date:'dd MMM yyyy'}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="title-heading">
                            {{blog?.title}}
                        </div>
                        <p>
                            {{blog?.description}}
                        </p>
                    </div>

                    <div class="box-footer">
                        <div class="autor-name">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            {{blog?.userName}}
                        </div>
                        <p>
                            {{blog?.userDesignation}}
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>