<section>
    <div class="common-section security-section-1 ">
        <div class="container animated fadeInDown">
            <div class="row">
                <div class="col-sm-8">
                    <h2 class="heading-text">
                        Security Services
                    </h2>
                </div>
                <div class="col-sm-8">
                    <h2 class="sub-heading-text">
                        ZCS MDR (Managed Detection and Response)
                    </h2>
                    <p class="paragraph-text">
                        We protect the technology systems that you use every day from cyberthreats in real-time, through
                        our managed detection and response service. Our team is security-focused by nature and has years
                        of experience in managing, monitoring, and reacting to cyber threats. With each year of
                        experience under our belt, our protection only gets stronger, more agile, and delivers more
                        insights that reduce costs.
                         
                    </p>
                    <p class="paragraph-text">
                        Our solution spans clouds, networks, and endpoints – everywhere that you are, we’re there too,
                        which means we have complete visibility into your information systems and we can react to
                        threats in real-time. We use a combination of custom-developed software and artificial
                        intelligence solutions with the ability to interrupt in-progress attacks in seconds and cause no
                        disruption to your daily business operations.
                    </p>
                    <p class="paragraph-text">
                        Assessing your cybersecurity may raise some complicated questions, like how will you recover
                        from an incident? Who can bring your applications back online? And how can you secure
                        unsupported workloads? It’s a complex task with complicated answers, but our ZCS MDR service
                        exists to answer these questions for you and get you back to your core business objectives.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="common-section security-section-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-5"></div>
                <div class="col-sm-7">
                    <h2 class="heading-text">
                        Why use ZCS Managed Security Services?
                    </h2>
                    <p class="paragraph-text">
                        s modern use of technology becomes a world of its own, it takes a specialist to stay up-to-date
                        with the needs of cybersecurity. Cloud technology, innovative software systems, and growing
                        usage of big data have created an ecosystem of cybercriminals with evolving techniques, and IT
                        teams just aren’t equipped to protect businesses. This is why, when you revert to
                        traditionally-managed IT services or in-house teams to manage security you don’t see the
                        expected rise in security because they lack the specialist ability to innovate with the changing
                        landscape.
                         
                    </p>
                    <p class="paragraph-text">
                        Using our managed security services means you have direct access to experts ahead of industry
                        trends, in the best position to keep you secure. We deliver security agility, insights, and cost
                        predictability that in-house teams or managed IT services don’t have the capacity to deliver.
                        The result is a solution that performs the right actions in the right locations at the right
                        time – in other words, resources are optimized for maximum efficiency and reduced costs.
                    </p>
                    <h2 class="sub-heading-text">
                        Vulnerability Assessment
                    </h2>
                    <p class="paragraph-text">
                        Delivering a blanketed approach to security leaves your vulnerabilities open and allows your
                        mission-critical data to fall into protection gaps. Instead, we conduct vulnerability
                        assessments to identify and quantify security vulnerabilities in your environment. It delivers
                        an in-depth analysis of your information security posture, highlighting both the weaknesses and
                        the appropriate mitigation procedure to eliminate their risk or reduce them to an acceptable
                        level. This solution channels resources to where they are most needed, so all of your systems
                        have the required level of protection
                    </p>
                    <h2 class="sub-heading-text">
                        Penetration Testing

                    </h2>
                    <p class="paragraph-text">
                        By mimicking the actions of cyber attackers, application penetration testing can assess your
                        security position and your susceptibility to threats. It delivers visibility on your
                        vulnerabilities, and with this insight, the appropriate remediation can secure the entry point
                        before a real cybercriminal exploits it. Penetration testing services can deliver a holistic
                        review of your business risk and resolve flaws to keep you protected.
                    </p>
                    <h2 class="sub-heading-text">
                        Cloud Security

                    </h2>
                    <p class="paragraph-text">
                        Cloud technology offers many expansive benefits to businesses, but it also requires an
                        additional layer of data and information protection. Users are responsible for protecting their
                        own information from theft, leakage, and deletion when they use cloud infrastructure. Cloud
                        security approaches differ from traditional IT security because they must support the
                        frictionless, dynamic and agile movement of data within the cloud. We deploy a comprehensive,
                        zero-trust approach to cloud security, and help you design a solution that will meet your needs
                        and provide zero-worry. Whatever clouds your data needs to reach, we’ll be there to protect it.
                    </p>
                    <h2 class="sub-heading-text">
                        Industry Compliance

                    </h2>
                    <p class="paragraph-text">
                        Your compliance requirements depend on the type of data you accept and process, and some
                        businesses will have more stringent standards to meet than others. Though, all businesses should
                        be aware of their compliance posture and the requirements to avoid the risk of being
                        non-compliant. Our managed cybersecurity services help companies align to and maintain their
                        compliance for PCI-DSS and NIST-800 through assessing, recommending, and remediating
                        infrastructure and information security policies
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>