.page-title-section {
    .head-text {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #ffffff;
    }
    .page-name {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #ffffff;
        opacity: 0.6;
    }
    .line {
        color: #ffffff;
    }
}
