/* You can add global styles to this file, and also import other style files */
@import url("./assets/css/loader.scss");
#loading {
    display: none;
}
::-webkit-scrollbar {
    display: none;
}

.primary-btn {
    width: 150px;
    height: 43px;
    border: 2px solid #00a6d6;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .text {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #ffffff;
    }
}

.primary-btn-fill {
    width: 271px;
    height: 51px;
    background: #00a6d6;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .text {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #ffffff;
    }
}

.primary-btn:hover {
    background-color: #00a6d6;
    color: #00a6d6;
}

.primary-btn-fill:hover {
    background: transparent;
    border: 2px solid #00a6d6;
}

.clickable {
    cursor: pointer;
}

.section-2 {
    background-image: url("./assets/images/bg-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    width: 100%;
    height: 819px;
    padding: 10px;
    position: relative;
    .section-2-mask-1 {
        width: 110%;
        height: 30%;
        background: #000000;
        filter: blur(69px);
        position: absolute;
        top: -91px;
        left: -40px;
    }
    .section-2-mask-2 {
        width: 63%;
        height: 41%;
        background: #000000;
        filter: blur(69px);
        transform: rotate(349deg);
        position: absolute;
        left: -44px;
        top: 75px;
    }
}
.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    width: 100%;
    height: 819px;
    padding: 10px;
    background-image: url("./assets/images/bg-3.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .section-3-mask-1 {
        width: 110%;
        height: 30%;
        background: #000000;
        filter: blur(69px);
        position: absolute;
        top: -124px;
        left: -85px;
    }
    .section-2-mask-2 {
        width: 63%;
        height: 41%;
        background: #000000;
        filter: blur(69px);
        transform: rotate(349deg);
        position: absolute;
        left: -44px;
        top: 75px;
    }
}

.section-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    width: 100%;
    height: 529px;
    padding: 10px;
    background-image: url("./assets/images/bg-4.png");
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 480px) {
    .section-2 {
        height: auto;
    }
    .section-3 {
        height: auto;
    }
    .section-4 {
        height: auto;
    }

    .heading-text {
        font-size: 22px;
        line-height: 30px;
    }
    .sub-heading-text {
        font-size: 18px;
        line-height: 22px;
    }

    .paragraph-text {
        font-size: 12px;
        line-height: 150%;
    }
}
