/* You can add global styles to this file, and also import other style files */
@import url("./assets/css/loader.scss");

::-webkit-scrollbar {
    display: none;
}

.primary-btn {
    width: 150px;
    height: 43px;
    border: 2px solid #00a6d6;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none !important;
    .text {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #ffffff;
    }
}

.primary-btn-fill {
    // min-width: 271px;
    max-width: 470px;
    width: 271px;
    height: 51px;
    background: #00a6d6;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none !important;
    .text {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #ffffff;
    }
}

.primary-btn:hover {
    background-color: #00a6d6;
    color: #00a6d6;
}

.primary-btn-fill:hover {
    background: transparent;
    border: 2px solid #00a6d6;
}

.clickable {
    cursor: pointer;
}

.common-section {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 10px;
}

.section-2 {
    background-image: url("./assets/images/home/home-bg-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    width: 100%;
    height: 819px;
    padding: 10px;
    position: relative;
}

.center-heading {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
}

.center-content {
    display: flex;
    justify-content: center;
}

@media (max-width: 771px) {
    .common-section {
        height: auto !important;
    }
    .heading-text {
        font-size: 22px;
        line-height: 30px;
    }
    .sub-heading-text {
        font-size: 18px;
        line-height: 22px;
    }

    .paragraph-text {
        font-size: 12px;
        line-height: 150%;
    }
    .primary-btn-fill {
        height: 35px;
    }
    .center-heading {
        font-weight: bold;
        font-size: 25px;
        line-height: 30px;
    }
}

.white-text {
    color: #ffffff !important;
}

.spinner-div{
    background-color: rgb(255, 255, 255,0.36);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}