header {
    background-image: url("../../../assets/images/header-bg.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: contain;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1030;
    margin-top: -30px;
    padding-top: 30px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navbar-logo {
            img {
                width: 91px;
                height: 91px;
            }
        }
        .navbar-burger-btn {
            display: none;
        }

        .navbar-menu-container {
            // width: 55%;
            a {
                color: #ffffff;
                font-size: 14px;
                margin-right: 50px;
                font-weight: 400;
                padding: 18px 0px;
                font-family: Poppins;
                text-decoration: none !important;
                cursor: pointer;
                &.contact-btn {
                    margin-left: 50px;
                    width: 120px;
                    height: 36px;
                    padding: 7px 20px 7px 20px;
                    width: 150px;
                    height: 43px;
                    border: 2px solid #00a6d6;
                    box-sizing: border-box;
                    border-radius: 5px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 21px;
                    text-align: center;
                    margin-right: 5px;
                }
            }
        }
        .btn {
            width: 10%;
        }
    }
    .nav-breadcrumb {
    }
}

.nav-dropdown {
    position: relative;
    display: inline-block;
}

.nav-dropdown-content {
    display: none;
    position: absolute;
    background-color: #070813;
    // width: auto;
    width: 124px;
    box-shadow: 0px 8px 16px 0px rgba(3, 3, 3, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
    margin: 8px 0px 0px -7px;
}

.nav-dropdown-content a {
    padding: 2px 1px 8px 8px !important;
}

.nav-dropdown-content a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #00a6d6;
    display: block;
    margin: auto;
}

.nav-dropdown-content a:hover::after {
    width: 100%;
    transition: 0.5s;
}

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}

@media (max-width: 787) {
    // .navbar-menu-container-for-mobile {
    //     display: flex;
    // }
    // .navbar-menu-container {
    //     display: none;
    // }
    // .navbar-burger-btn {
    //     display: block;
    // }
}

.hover-effect:hover {
    font-size: 15px;
    -webkit-text-stroke: 0.5px #ffffff;
    -webkit-transition: all 0.6s ease-out 0.6s;
    -moz-transition: all 0.6s ease-out 0.6s;
    -ms-transition: all 0.6s ease-out 0.6s;
    -o-transition: all 0.6s ease-out 0.6s;
    transition: all 0.6s ease-out 0.6s;
}

.header-onScroll {
    height: 75px;
    margin-top: 0px;
    padding-top: 0px;
    background-color: black;
}

.logo-height-on-scroll {
    width: 50px;
    height: 56px;
    -webkit-transition: all 0.6s ease-out 0.6s;
    -moz-transition: all 0.6s ease-out 0.6s;
    -ms-transition: all 0.6s ease-out 0.6s;
    -o-transition: all 0.6s ease-out 0.6s;
    transition: all 0.6s ease-out 0.6s;
}

.breadcrum-on-scroll {
    display: none;
    -webkit-transition: all 0.6s ease-out 0.6s;
    -moz-transition: all 0.6s ease-out 0.6s;
    -ms-transition: all 0.6s ease-out 0.6s;
    -o-transition: all 0.6s ease-out 0.6s;
    transition: all 0.6s ease-out 0.6s;
}
