.home-section-1 {
    .primary-btn-fill {
        width: 271px;
        height: 51px;
    }
}
.container {
    z-index: 1;
}

.home-section-2 {
    background: url("../../assets/images/bg-2.png");
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .home-section-2-mask-1 {
        // width: 140%;
        // height: 73%;
        // background: #000000;
        // filter: blur(159px);
        // transform: rotate(356deg);
        // position: absolute;
        // left: -327px;
        // top: -268px;
        width: 100%;
        height: 100%;
        background: #000000;
        filter: blur(204px);
        transform: rotate(-6.52deg);
        position: absolute;
        top: -346px;
    }
}

.home-section-3 {
    background-image: url("../../assets/images/bg-3.png");
    width: 100%;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .home-section-3-mask-1 {
        width: 100%;
        height: 65%;
        background: #000000;
        filter: blur(72px);
        transform: rotate(6.52deg);
        position: absolute;
        top: -150px;
    }
    .primary-btn-fill {
        width: 219px;
        height: 51px;
    }
}

.home-section-4 {
    // background: url("../../assets/images/bg-4.png");
    width: 100%;
    height: 100%;
    // position: relative;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // background-size: cover;
    // background-repeat: no-repeat;
    // height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    .home-section-4-mask-1 {
        width: 140%;
        height: 81%;
        background: #000000;
        filter: blur(159px);
        transform: rotate(356deg);
        position: absolute;
        left: -327px;
        top: -468px;
    }
}

///NEW DESIGN

.section-2 {
    background-image: url("../../assets/images/bg-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    width: 100%;
    height: 819px;
    padding: 10px;
    // height: 100%;
    position: relative;
    .section-2-mask-1 {
        width: 110%;
        height: 30%;
        background: #000000;
        filter: blur(69px);
        position: absolute;
        top: -91px;
        left: -40px;
    }
    .section-2-mask-2 {
        width: 63%;
        height: 41%;
        background: #000000;
        filter: blur(69px);
        transform: rotate(349deg);
        position: absolute;
        left: -44px;
        top: 75px;
    }
}
.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    width: 100%;
    height: 819px;
    padding: 10px;
    background-image: url("../../assets/images/bg-3.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .section-3-mask-1 {
        width: 110%;
        height: 30%;
        background: #000000;
        filter: blur(69px);
        position: absolute;
        top: -124px;
        left: -85px;
    }
    .section-2-mask-2 {
        width: 63%;
        height: 41%;
        background: #000000;
        filter: blur(69px);
        transform: rotate(349deg);
        position: absolute;
        left: -44px;
        top: 75px;
    }
}

.section-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    width: 100%;
    height: 529px;
    // height: 100%;
    padding: 10px;
    background-image: url("../../assets/images/bg-4.png");
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 480px) {
    .section-2 {
        height: auto;
    }
    .section-3 {
        height: auto;
    }
    .section-4 {
        height: auto;
    }

    .heading-text {
        font-size: 22px;
        line-height: 30px;
    }
    .sub-heading-text {
        font-size: 18px;
        line-height: 22px;
    }

    .paragraph-text {
        font-size: 12px;
        line-height: 150%;
    }
}
