<section class="home-section-1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-area">
                    <div class="cta-content text-center">
                        <h2>Zenuit Consulting Services</h2>
                        <p> Peace of Mind is a Matter of Choice </p>
                        <div class="dflex-center">
                            <span class="primary-btn-fill">
                                <span class="text">
                                    View Cybersecurity Services
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <div class="section-2-mask-1"></div>
    <div class="section-2-mask-2"></div>
    <div class="section-2-mask-3"></div>
    <div class="section-2-mask-4"></div> -->
<section class="home-section-2">
    <div class="home-section-2-mask-1"></div>
    <div class="container">
        <div class="divider-info ptb column-style">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="sub-title">Column 1/2</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse viverra mauris eget
                        tortor
                        imperdiet vehicula. Proin egestas diam ac mauris molestie hendrerit. Quisque nec nisi
                        tortor. Etiam at
                        mauris sit amet magna suscipit hend rerit non sed ligula. Vivamus purus odio, mollis ut
                        sagittis vel,
                        feugiat et nulla. Aenean id felis sed ligula volutpat consectetur. Vestibulum ante ipsum
                        primis in
                        faucibus orci luctus et ultrices posuere cubilia Curae; Praesent eu lacus diam. Vestibulum
                        ut sem odio,
                        eu sollicitudin tellus.
                    </p>
                </div>
                <div class="col-sm-6">

                </div>
            </div>
        </div>
    </div>
</section>
<section class="home-section-3">
    <div class="container">

    </div>
</section>

<section class="home-section-4">
    <div class="home-section-4-mask-1"></div>
    <div class="container">

    </div>
</section>