.home-section-1 {
    .primary-btn-fill {
        width: 271px;
        height: 51px;
    }
}
.container {
    z-index: 1;
}

.home-section-2 {
    background-image: url("../../assets/images/bg-2.png");
    height: 819px;
}

.home-section-3 {
    height: 819px;
    background-image: url("../../assets/images/bg-3.png");
}

.home-section-4 {
    height: 529px;
    background-image: url("../../assets/images/bg-4.png");
}

@media (max-width: 771px) {
    .home-section-3 .primary-btn-fill {
        width: auto;
        height: 43px;
        margin-bottom: 25px;
    }
}
