.primary-btn-fill {
    width: 271px;
    height: 51px;
}

.home-section-2 {
    background: url("../../assets/images/bg-2.png");
    width: 100%;
    position: relative;
    /* padding: 60px 0; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
