<section>
    <div class="common-section blog-section-1 ">
        <div class="container animated fadeInDown">
            <div class="mb-60"></div>
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="heading-text">
                        Zenuit Blog
                    </h2>
                </div>
                <div class="col-sm-3">
                    <a class="primary-btn white-text">
                        <i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;
                        Follow un on Twitter
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="primary-btn white-text">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>&nbsp;
                        Follow us on LinkedIn
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 top-blog-img"> </div>
                <div class="col-sm-8">
                    <h2 class="sub-heading-text">
                        Hacking season: Why Cyber Monday presents a cyber security nightmare
                    </h2>

                    <div class="autor-detail">
                        <p class="paragraph-text"> <i class="fa fa-user" aria-hidden="true"></i>&nbsp;Mariana Pereira,
                            Director of
                            Email Security
                            Products </p>
                        <p class="paragraph-text"> <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; Thursday
                            November
                            11, 2021</p>
                    </div>

                    <p>
                        Cyber attacks are so commonplace that they have become a part of the business world. The result
                        is detrimental to organizations, alongside their customers, leads, employees, partners, and
                        their profitability. So, most businesses know they need proficient protection against
                        cybercriminals, yet struggle to reconcile their investments with the small rise in the security
                        they often find that comes along with it. What’s more, wasted money pales in comparison to the
                        damage to the reputation,
                    </p>
                </div>
            </div>
            <div class="mb-60"></div>
        </div>
    </div>

    <div class="blog-section-2">
        <div class="container">
            <div class="tag-list">
                <div class="tag-text " *ngFor="let type of blogType" [ngClass]="{'bold-text': selectedType.id==type.id}"
                    (click)="selectType(type)">
                    {{type?.description}}
                </div>
            </div>
        </div>
    </div>

    <div class="blog-section-3">
        <div *ngIf="showLodaer" class="spinner-div">
            <div class="loader">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="container">
            <div class="btn-tabs-container">
                <a class="primary-btn " *ngFor="let type of blogType"
                    [ngClass]="{'btn-active': selectedType.id==type.id}" (click)="selectType(type)">
                    {{type?.description}}
                </a>
            </div>
            <div class="blog-post-container">
                <!-- <ng-container *ngIf="!showLodaer; else elseTemplate"> -->
                <div class="post-box" *ngFor="let blog of blogList">
                    <div class="box-header"
                        [ngStyle]="{'background-image': 'url(' + 'data:' + blog?.blogImage?.contentType + ';base64,' + blog.blogImage?.fileContents + ')'}">
                        <div class="date-wrapper">
                            <div class="date-container">
                                <img src="../../../assets/images/blog/date-icon.png" alt="">
                                <span class="date-text">
                                    {{blog?.created_at |date:'dd MMM yyyy'}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="title-heading">
                            {{blog?.title}}
                        </div>
                        <p>
                            {{blog?.description}}
                        </p>
                    </div>

                    <div class="box-footer">
                        <div class="autor-name">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            {{blog?.userName}}
                        </div>
                        <p>
                            {{blog?.userDesignation}}
                        </p>
                    </div>

                </div>
                <!-- 
                </ng-container>
                <ng-template #elseTemplate>
                    <div class="post-box post-box--skeleton" *ngFor="let item of [ 1, 2, 3, 4,5,6 ]; let i = index">
                    </div>
                </ng-template> -->

            </div>
        </div>
    </div>
</section>